<h3 class="in-develop">В разработке</h3>
<div class="login-container">
<!--    <mat-form-field appearance="outline" color="accent">-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput placeholder="username" [(ngModel)]="username">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline" color="accent">-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput type="password" placeholder="password" [(ngModel)]="password">-->
<!--    </mat-form-field>-->

<!--    <button mat-stroked-button color="accent" (click)="login()">Вход</button>-->
</div>
