<h3 class="in-develop">В разработке</h3>
<mat-table [dataSource]="users">
<!--    <ng-container matColumnDef="first_name" class="table-column">-->
<!--        <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let user"> {{ user.first_name }} </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="last_name" class="table-column">-->
<!--        <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let user"> {{ user.last_name }} </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="class" class="table-column">-->
<!--        <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let user"> {{ user.class }} </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="points" class="table-column">-->
<!--        <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let user"> {{ user.points }} </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="result" class="table-column">-->
<!--        <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let user"> {{ user.result }} </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
</mat-table>
